.container {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;
}

.menu {
  flex: none;
  background-color: $color-background--menu;
  color: $color-font--inverted;
}

.list {
  flex: none;
  border-right: 1px solid $color-border;
  background-color: $color-background--list;
}

.content {
  flex: 1 50vw;
  min-width: 50vw;
  background-color: $color-background;
  padding: $unit;
  height: 100vh;
}
