@import "variables";

.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  height: 100%;
}

.topSection {
  flex: 1 0 auto;
  align-self: flex-start;
  width: 210px;
  padding: 3*$unit 0;
}

.bottomSection {
  flex: 0 0 auto;
  padding-bottom: $unit;
}

.userSection {
  padding: 2*$unit $unit;
}
