$unit: 10px !default;
$unit--animation: 150ms;

$color-primary: #1678c2 !default;
$color-primary--dark: #358cc2 !default;
$color-divider: #ddd !default;

$color-font: #333;
$color-font--inverted: #eee;

$color-background--menu: #333 !default;
$color-background: white !default;
$color-background--list: darken($color-background, 3%) !default;
$color-border: #e8e8e8 !default;
