$unit: 10px !default;
$unit--animation: 150ms;

$color-primary: #402acd !default;
$color-primary--dark: #6453ff !default;
$color-divider: #ddd !default;

$color-font: #333;
$color-font--inverted: #eee;

$color-background--menu: #333 !default;
$color-background: white !default;
$color-border: #e8e8e8 !default;
